<ui:fragment 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">
    <div class="container">
        <hr/>
        <footer>
            <p><h:outputText value="#{msgs.footer_text}" escape="false"/></p>
        </footer>
    </div>
</ui:fragment>

