<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:ui="http://java.sun.com/jsf/facelets">
    <div class="container">
<!--        <h:panelGroup rendered="#{not empty facesContext.messageList}">            
            <h:messages class="alert #{(facesContext.maximumSeverity != null) and (facesContext.maximumSeverity.ordinal == 0) ? 'alert-success' : 'alert-danger'}"
                        title="#{(facesContext.maximumSeverity != null) and (facesContext.maximumSeverity.ordinal == 0) ? msgs.congratulations : msgs.err_message_title}"
                        rendered="#{not empty facesContext.messageList}">
            </h:messages>

        </h:panelGroup>-->
        <h:panelGroup rendered="#{not empty facesContext.messageList}">
            <div class="alert alert-danger">
                <b><h:outputText value="#{msgs.err_message_title}"/></b>
                <h:messages/>
            </div>
        </h:panelGroup>

    </div>
</ui:fragment>

